html{
	background-image:url('../images/space.jpg');
	background-size: 100% 100%;
	 background-repeat: no-repeat;
    background-attachment: fixed;
    transition: .5;
}
body{

}
/*subject section style Begin*/
header{
	width:100%;
	height:45px;
	background-color:#E38549;
	text-align:center;
	border-bottom:4px solid #5649E3;
}
header h1{
	font-family: 'Space Mono', monospace;
	font-size:12pt;
	font-weight:bold;
	padding-top:10px;
}
#subjectDisplayBorder{
	width:19%;
	float:left;
	padding-top:10px;
}
#subjectDisplayBox{
	background-color:#4A77B0;
	background-color:rgba(74,119,176,0.7);
	border-radius:10px;
}
.subjectButton{
	border:none;
	padding:10px;
	border-radius:10px;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	
	transition:.3s;
	background-color:rgba(227,133,73,1.0);
	color:rgba(255,255,255,1);
	border:1px groove #3E3D4A;
	cursor:pointer;
}
.subjectButton:hover, .subjectButton:focus{
	
	background-color:rgba(62,61,74,1.0);
	color:rgba(227,133,73,1);

	
}
#searchSubject{
	margin-top:10px;
	margin-left:10px;
}
#searchSubject:focus{
	background-color:#E38549;
	color:white;
}

form{
	background-color:#4A77B0;
	border-radius:10px;
	margin-top:20px;
	padding-top:15px;
	padding-bottom:15px;
	background-color:rgba(74,119,176,0.7);
	
}
label{
	color:white;
	font-family: 'Space Mono', monospace;
	font-size:13pt;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	margin-left:15px;
	opacity:1;
}

#searchSubject{
	margin-bottom:10px;
	border-radius:5px;
	color:rgba(0,0,0,1);

}

#addSubject{
	margin-bottom:10px;
	margin-left:10px;
	opacity:1;
	background-color:#E38549;
	color:white;
	border:none;
	padding:6px;
	border-radius:5px;
	font-family:'Space Mono', monospace;
	font-weight:bold;
}
#addSubject:hover{
	background-color:rgba(62,61,74,1.0);
	color:rgba(227,133,73,1);
	cursor:pointer;

}





/*subject section style End*/

/*GifDisplay section style Begin*/
#gifMaster{
	width:75%;
	height:auto;
	float:right;
	margin-top:10px;
	/*background-color:#4A77B0;*/
	background-color:rgba(74,119,176,0.7);
	border-radius:10px;
	margin-right:10px;
	/*border:3px groove #4A77B0;*/

}
#gifDisplay{
	width:80%;
	height:auto;
	
	margin:0 auto 0 auto;

}
.gifDiv{
	float:left;
	text-align:center;
	margin-right:10px;
	margin-bottom:10px;
	cursor:pointer;
}
img{
	/*background-color:rgba(186,157,125,1.0);*/
}
.gifDiv p{
	background-color:#E38549;
	color:white;
	border-radius:4px;
	margin-top:5px;
	padding-top:5px;
	padding-bottom:5px;

}

/*GifDisplay section style End*/
footer{
	background-color:black;
	width:100%;
	height:45px;
	position:fixed;
	bottom:0px;

}




footer p{
	color:white;
	font-family:arial;
	text-align:center;
}
footer p a{
	color:#E38549;
	text-decoration:none;

}
footer p a:hover{
	color:#5649E3;

}


/* media Queries for mobile Begin */
	@media only screen and (max-width: 600px) {
		header{

		}
		#subjectDisplayBorder{
			float:none;
			width:100%;
		}
		#subjectDisplayBox{
			border-radius:0px;
			padding:0px;
			margin:0px;
		}
		#gifMaster{
			float:none;
			margin:10px auto 0 auto;
			width:100%;
			height:auto;
		}
		#gifDisplay{
		width:100%;
		margin:10px 0px 0px 0px;

		}
		.gifDiv{
		margin:0 auto 0 auto;
	

		}
		img{
			padding-top: 10px;
			margin:0 auto 0 auto;
		}



/* media Queries for mobile End */


