html{

}
footer{
	background-color:black;
	width:100%;
	height:85px;
	position:fixed;
	bottom:0px;

}
footer p{
	color:white;
	font-family:arial;
	text-align:center;
}
footer p a{
	color:green;
	text-decoration:none;

}
footer p a:hover{
	color:orange;
}